<!DOCTYPE html>

<html>
  <head>
    <title>Bookers2</title>
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <spam>Bookers</spam>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <p id="notice"></p>
      <div class="container px-5 px-sm-0">
        <div class="row">
          <div class="col-md-3">
            <h2>Usr info</h2>
            <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg">
            <table class="table">
              <tbody>
                <tr></tr>
                <tr>
                  <th>name</th>
                  <th>4444</th>
                </tr>
                <tr>
                  <th>introduction</th>
                  <th></th>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </main>
  </body>
  
</html>