<!DOCTYPE html>

<html>
  <head>
    <title>Bookers2</title>
  </head>

  <body>
    <header>
        <nav class="navber navbar-expand-lg navbar-dark bg dark">
          <div class="container">
              <% link_to %>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"></button>
                       <div class="collapse navbar-collapse" id="navbarNavDropdown">
                       </div>
          </div>
        </nav>
    </header>

    <main>


  </body>

</html>